[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/altercation/start/vim-colors-solarized"]
	path = pack/altercation/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/preservim/start/nerdcommenter"]
	path = pack/preservim/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
